*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    min-height: 100% !important;
}
.vh10{
    height: 10vh !important;
}
.logo{
    width: 40px !important;
}

.main{
    min-width: 100vh !important;
}
.imgfooter{
    width: 50px !important;
}
.form{
    width: 40rem;
}

table,tr,th,td {
    border: 1px solid white !important;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}
th{
    background-color:black;
}
td{
    background-color: rgba(60, 170, 221, 0.459);
}
table{
    width: 80rem;
}

.maincontact{
    
    min-height: 83vh !important;
    }
.bc{
    background-color: rgba(60, 170, 221, 0.459) !important;
}